/** ---------------------------------------------------------------------------------------------------------------- **/
/** Base sizes.
/** ---------------------------------------------------------------------------------------------------------------- **/

:root {
    font-size: 16px;
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Font sizes.
/** ---------------------------------------------------------------------------------------------------------------- **/

:root {
    --siz-1: 1rem;
    --siz-2: 1.0625rem;
    --siz-3: 1.125rem;
    --siz-4: 1.5rem;
    --siz-5: 2.25rem;
    --siz-6: 2.625rem;
    --siz-7: 3.25rem;
    --siz-8: 4rem;
    --siz-9: 5.375rem;
    --siz-min: 0.75rem;
    --siz-pre: 0.875rem;
    --siz-btn: var(--siz-2);
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Widths.
/** ---------------------------------------------------------------------------------------------------------------- **/

:root {
    --max-wid: 1200px;
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Heights.
/** ---------------------------------------------------------------------------------------------------------------- **/

:root {
    --inp-hgt: 3rem;
    --btn-hgt: 3rem;
    --nav-hgt: 5rem;
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Radii.
/** ---------------------------------------------------------------------------------------------------------------- **/

:root {
    --rad-0: 0.1875rem;
    --rad-1: 0.375rem;
    --rad-2: 0.5625rem;
    --rad-3: 0.75rem;
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Fonts.
/** ---------------------------------------------------------------------------------------------------------------- **/

:root {
    --fnt-std: 'Sohne', -apple-system, Arial, sans-serif;
    --fnt-btn: 'Sohne', -apple-system, Arial, sans-serif;
    --fnt-hdg: 'FiraGO', -apple-system, Arial, sans-serif;
    --fnt-ttl: 'FiraGO', -apple-system, Arial, sans-serif;
    --fnt-fix: monospace;
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Colours.
/** ---------------------------------------------------------------------------------------------------------------- **/

:root {
    --wht: #fff;

    --gry: hsl(224, 13%, 96%);

    --blk-1: hsl(224, 13%, 76%);
    --blk-2: hsl(224, 55%, 22%);

    --red-1: hsl(350, 77%, 60%);
    --red-2: hsl(350, 77%, 50%);
    --red-3: hsl(350, 77%, 40%);

    --grn-1: hsl(160, 100%, 75%);
    --grn-2: hsl(160, 100%, 65%);
    --grn-3: hsl(160, 100%, 55%);

    --blu-1: hsl(222, 48%, 55%);
    --blu-2: hsl(222, 48%, 45%);
    --blu-3: hsl(222, 48%, 35%);

    --ylw-1: hsl(40, 100%, 85%);
    --ylw-2: hsl(40, 100%, 75%);
    --ylw-3: hsl(40, 100%, 65%);

    --pur-1: hsl(255, 70%, 72%);
    --pur-2: hsl(255, 70%, 62%);
    --pur-3: hsl(255, 70%, 52%);
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Page.
/** ---------------------------------------------------------------------------------------------------------------- **/

:root {
    background-color: var(--blk-2);
    font-family: var(--fnt-std);
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Effects.
/** ---------------------------------------------------------------------------------------------------------------- **/

:root {
    --trn: all 0.075s ease-in-out;
}
