/** ---------------------------------------------------------------------------------------------------------------- **/
/** HTML animations.
/** ---------------------------------------------------------------------------------------------------------------- **/

[data-animate="hop"] {
    opacity: 0;
    transform: translateY(75px);
    transition: opacity 0.6ms ease, transform 0.6s cubic-bezier(0, 1.5, 1, 1.25);
}

[data-animate="up"] {
    opacity: 0;
    transform: translateY(75px);
    transition: opacity 0.6ms ease, transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

[data-animate="left"] {
    opacity: 0;
    transform: translateX(75px);
    transition: opacity 0.6ms ease, transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

[data-animate].show {
    opacity: 1;
    position: unset;
    transform: translate(0);
}

/*.fade-in {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

.fade-out {
    opacity: 1;
    animation: fade-in 1s ease-in-out backwards;
}

@keyframes fade-in {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
*/