/** ---------------------------------------------------------------------------------------------------------------- **/
/** Logos.
/** ---------------------------------------------------------------------------------------------------------------- **/

[data-image="mazia-evp"] {
    display: block;
    position: relative;
    background-image: url("../../images/logos/mazia-evp.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 186px;
    min-height: 50px;
}

[data-image="mazia-evp-mono"] {
    display: block;
    position: relative;
    background-image: url("../../images/logos/mazia-evp-mono.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 156px;
    min-height: 30px;
}

[data-image="menu"] {
    display: block;
    position: relative;
    background-image: url("../../images/icons/menu.svg");
    background-size: 20px 18px;
    background-repeat: no-repeat;
    min-width: 20px;
    min-height: 18px;
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Powered by.
/** ---------------------------------------------------------------------------------------------------------------- **/

[data-logo="powered-by-rea-vetta"] {
    display: block;
    position: relative;
    background-image: url("../../images/logos/powered-by-rea-vetta.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 84px;
    height: 50px;
}

[data-logo="powered-by-lunia-studio"] {
    display: block;
    position: relative;
    background-image: url("../../images/logos/powered-by-lunia-studio.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 84px;
    height: 50px;
}
