/** ---------------------------------------------------------------------------------------------------------------- **/
/** Hero.
/** ---------------------------------------------------------------------------------------------------------------- **/

@media screen and (min-width: 1280px) {

    .hero-copy {
        width: 435px;
    }
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Custom elements.
/** ---------------------------------------------------------------------------------------------------------------- **/

layout-wrapper {
    display: block;
    max-width: 1024px;
    margin: auto;
}

layout-tile {
    display: block;
}

/** ---------------------------------------------------------------------------------------------------------------- **/
/** Images.
/** ---------------------------------------------------------------------------------------------------------------- **/

@media screen and (max-width: 1279px) {

    .image-wrapper {
        position: relative;
        max-height: 700px;
    }
}

@media screen and (min-width: 1280px) {

    .image-wrapper {
        position: relative;
        overflow: visible;
        overflow-y: clip;
        width: 600px;
        height: 700px;
        filter: drop-shadow(0 22px 0 #fff);
        overflow: visible;
    }
}

.services-logo-wrapper {
    display: block;
    height: 65px;
}

.wrap {
    flex-wrap: wrap;
}
