@font-face {
    font-family: 'FiraGO';
    src: url('../../fonts/FiraGO-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../../fonts/Sohne-Leicht.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('../../fonts/Sohne-Kraftig.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
